#include <crails/i18n.hpp>
#include <crails/cms/routes.hpp>
#include <crails/cms/time.hpp>
#include <crails/cms/views/style.hpp>
#include "app/models/podcast.hpp"

const Crails::Cms::Style& style = Crails::Cms::Style::singleton::require() ;
const Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars) ;
std::vector<std::shared_ptr<Podcast>>& @models ;
const char* date_format = "%H:%M:%S %d-%m-%y" ;

using namespace Crails::Cms;
// END LINKING
<div class="controls">
  <%= link(route.make("post", "new"), i18n::t("admin.new-podcast"), {{"class",style.button_classes()}}) %>
</div>

<table class="<%= style.table_classes() %>">
  <tr>
    <th><%= i18n::t("admin.published") %></th>
    <th><%= i18n::t("admin.page-title") %></th>
    <th><%= i18n::t("admin.created-at") %></th>
    <th><%= i18n::t("admin.updated-at") %></th>
  </tr>
  <% if (!models.size()) do -%>
    <tr>
      <td colspan="3"><%= i18n::t("admin.empty-table") %></td>
    </tr>
  <% end -%>
  <% for (const auto& model : models) do %>
    <tr>
      <td>
        <% if (model->get_published()) do %>
          &#9745;
        <% end else do %>
          &#9744;
        <% end %>
      </td>
      <td>
        <%= link(route.make("post", model->get_id())) yields %>
          <%= model->get_title() %>
        <% yields-end %>
      </td>
      <td>
        <%= time_to_string(model->get_created_at(), date_format) %>
      </td>
      <td>
        <%= time_to_string(model->get_updated_at(), date_format) %>
      </td>
    </tr>
  <% end %>
</table>

<%= partial("paginator") %>

